*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif ;
}
.hero--section{
    min-height: 65vh;
    background: url(images/heroSectionBackground.png);
    background-position: center;
    background-size: cover;
}
.navbar{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 48px 0px 20px;
    font-weight: 300;
}
.link--left{
    font-weight: 500;
    font-size: 15px;
}
.navbar a{
    text-decoration: none;
    color:white;
}
.navbar--menu{
    display: flex;
    gap: 29px;
    font-size: 17px;
}
.user--icon{
    display: none;
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 100%;
}

.hero--section--container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    height: 50vh;
}
.hero--section--logo{
    width: 280px;
}
.hero--section--input{
    background: white;
    padding: 12px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.input--location,
.input--search{
    border: none;
    padding: 5px;
    outline: none;
}
.input--location ::placeholder{
    font-size: 40px;
}
.input--location{
    width: 30%;
    border-right: 2px solid #e0e0e0;
}
.input--location--icon{
    color: rgb(252,124,140);
    width: 20px;
}
.input--search--icon{
    color: #8d8d8d;
    padding-left: 10px;
}
.hero--section--title{
    color: white;
    font-weight: 300;
    font-size: 34px
}
.input--search{
    width: 70%;
    padding-left: 13px;
}
@media only screen and (max-width: 600px){
    .navbar--menu .link{
        display: none;
    }
    .user--icon{
        display: flex;
    }
    .hero--section{
        height: 75vh;
    }
}