*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif ;
}
.hero--section{
    display: flex;
    min-height: 60vh;
    background: url(images/heroSectionBackground.png);
    background-position: center;
    background-size: cover;
    justify-content: center;
}
.navbar{
    height: 60px;
    min-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 200px;
    font-weight: 300;
}
.link--left{
    font-weight: 500;
    font-size: 15px;
}
.navbar a{
    text-decoration: none;
    color:white;
}
.navbar--menu{
    display: flex;
    gap: 29px;
    font-size: 17px;
}
.user--icon{
    display: none;
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 100%;
}

.hero--section--container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    height: 50vh;
}
.hero--section--logo{
    width: 280px;
}
.hero--section--input{
    background: white;
    padding: 10px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
}
.input--location,
.input--search{
    border: none;
    padding: 5px;
    outline: none;
}
.input--location ::placeholder{
    font-size: 40px;
}
.input--location{
    width: 30%;
    border-right: 2px solid #e0e0e0;
}
.input--location--icon{
    color: rgb(252,124,140);
    width: 20px;
}
.input--search--icon{
    color: #8d8d8d;
    padding-left: 10px;
}
.hero--section--title{
    color: white;
    font-weight: 300;
    font-size: 34px
}
.input--search{
    width: 70%;
    padding-left: 13px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px ;
    gap: 18px;
}
.offer_container{
    align-items: center;
    justify-content: center;
}
.card{
    border: 1px solid rgb(228, 222, 222);
    border-radius: 13px;
    overflow: hidden;
    width: 350px;
    transition: all 300ms ease-out;
    cursor: pointer;
}
.card:hover{
    transform: scale(1.05);
}
.card img{
    height:150px ;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.card h2{
    padding: 0px 0px 5px 15px;
    font-weight: 400;
    font-size: 20px;
    opacity: 80%;
}
.card p{
    padding: 0px 0px 10px 15px;
    opacity: 60%;
    font-weight: 400;
}
.collections{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.collections_text{
    font-size: 17px;
    font-weight: 200;
    min-width: 57%;
    padding-top: 100px;
    justify-content: flex-start;
}
.collections_text h1{
    font-size: 33px;
    font-weight: 400;
 }
.collection_list{
    display: flex;
    gap: 110px;
}
.collection_list a{
    text-decoration: none;
    color: red;
}
.tranding{
    margin-top: 40px;
    display: flex;
    min-width: 57%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.tranding .cards{
    position: relative;
    height: 320px;
    min-width: 265px;
    background-size: cover;
    background-position: center;
    border-radius: 7px;
    color: white;
}
.card1{
    background-image: url(https://b.zmtcdn.com/data/collections/b22194cb38ed18a5200b387ad8f243f0_1582015799.jpg);
}
.card2{
    background-image: url(https://b.zmtcdn.com/data/collections/f60eb469dbcdadaaa48c8be4f5ba48b3_1646040552.png);
}
.card3{
    background-image: url(https://b.zmtcdn.com/data/collections/899ae6819c98bec9fc2c794261deb4ca_1633350337.jpg);
}
.card4{
    background-image: url(https://b.zmtcdn.com/data/collections/14fa741ee65b838680a95a4cd7b9faa4_1582201565.jpg);
}
.cards h1{
    font-size: 25px;
    font-weight: 300;
}
.overlay {
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0.05) 50%,
      rgba(0, 0, 0, 0.05) 85%
    );
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
}
.card_content{
    bottom: 0;
    left: 0;
    position: absolute;
    padding: 5px 15px;
}
.card_content h1{
    font-size: 18px;
}
.card_content span{
    font-size: 15px;
}
@media only screen and (max-width: 800px){
    .navbar--menu .link{
        display: none;
    }
    .user--icon{
        display: flex;
    }
    .hero--section{
        height: 75vh;
    }
    .hero--section--input{
        flex-direction: column;
        background: transparent;
        width: 100%;
        gap: 10px;
    }
    .hero--section--input i{
        display: none;
    }
    .input--location .input--search{
        border-radius: 10px;
    }
}